html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    }

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.header__title {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.header {
    width: 100%;
    background: azure;
}

.header__wrapper {
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo__img {
    width: 150px;
}

.list__item {
  border-radius: 20px;
  background:linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  list-style-type: none;
  margin-right: 16px;
}

.list__item:last-child {
  margin-right: 0;
}

.list__link {
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 0px;
}

.list {
  display: flex;
}

.list__text {
    padding-left: 20px;
    padding-right: 20px;
}

.slogan__wrapper {
position: relative;
}

.slogan__img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   background: url('./img/camera.jpeg') no-repeat;
   width: 100%;
    height: 511px;
    background-size: contain;
}

.slogan__text {
    font-size: 4.4rem;
    color: #ffffff;
    max-width: 332px;
    width: 100%;
    margin-right: 54px;
}

@media (max-width: 1020px){
    .slogan__img {
         height: 50vw;
     }
}




p {
  font-size: 40px;
}

div.body_page {
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    padding: 0% 2%;
}

div.Block_header {
    align-items: center;
    justify-content: center;
     padding: 2%;
}

div.advantages {
    display: flex;
    justify-content:space-around;
}   
div.advantages_1 {
    flex: 1;
}

h3 {
    color: #9e9e9e;
    font-size: 50px;
}

div.services {
    display: flex;
    justify-content: space-around;
}

div.services_1 {
    flex: 1; 
}

div.contact{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

div.contact_1 {
    width:15%;
    align-items: center;
    justify-content: space-around;

}

img.image_contact {
    width: 30%;
}

div.footer {
   
}

p.text_size {
    font-size: 150%;
}

.navi{
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.services_2 {
    display: flex;
    justify-content: space-around;
}

.services_text {
    width: 33.33%;
    flex-wrap: wrap;
}